services:
  jekyll-site:
    build: .
    platform: linux/amd64
    volumes:
      - .:/usr/src/app
      - bundle:/usr/local/bundle
    ports:
      - "4000:4000"
    command: bundle exec jekyll serve -H 0.0.0.0 -P 4000 --watch --force_polling --config _config.yml,_config.dev.yml


volumes:
  bundle: